!!! 5
%html
  %head
    %meta(charset="utf-8")
    %link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    %link(rel="stylesheet" href="/css/lightbox.css")
    %link(rel="stylesheet" href="/css/app.css")
    %script(src="https://code.jquery.com/jquery-2.1.4.min.js")
    %script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
    %script(src="/js/lightbox.min.js")
  %body
    .container
      =yield

    %script(src="http://w.sharethis.com/button/buttons.js")
    :javascript
      stLight.options({publisher: "11f8bf22-98ca-4c06-8bfc-cb4a0f5a035e", doNotHash: false, doNotCopy: false, hashAddressBar: false});
